<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs')  %>


<body>
    <%- include('./components/header.ejs') %>
    <main>
        <section class="servicos-lista">
            <div class="container">
                <h1>Serviços</h1>


                <% for(servico of servicos){ %>

                <article>
                    <div class="thumb">
                        <img src="<%= servico.imagem %>" alt="">
                    </div>
                    <div class="info">
                        <h2><%= servico.nome %></h2>
                        <p><%= servico.preco %></p>
                        <p><%= servico.descricao %></p>
                        <a href="#" class="btn btn-primary">agendar</a>
                    </div>
                </article>
                <% } %>


               
            

            </div>
        </section>
    </main>
    <%- include('./components/footer.ejs') %>
</body>

</html>